<h1>About Steve</h1>
<p>For all of his life, Steve Ernenwein has been a very vivid dreamer.
  They were always very interesting and inspiring and always left him
  yearning for more. Unlike most people, as he aged his ability to
  remember his dreams continued on into his adult life. Approximately 7
  years ago, Ernenwein fully discovered the realm of lucid dreaming. It
  called to him. It brought the world of his dreams to him in a way he
  could not deny. And so his destiny began.</p>

<p>During the first semester of his second year at college, he went home
  early from his classes because he was exhausted. It was around noon
  and none of his roommates were home or expected to be home for a few
  hours. He laid down to rest, unknowing that the dream he was about to
  have would reshape his entire way of life and redefine his
  understanding of himself and life for good.></p>

<p>"I had a "false awakening" within the dream. A false awakening is when
  you have a dream that you are sleeping and awaken, continuing within
  the dream as if you were awake. Since you 'wake up,' most of the time
  you actually believe you are awake. This often times causes a lot of
  confusion in the person because the dream scene may be nothing like
  the person has ever experienced, thus they may not fully understand
  what is happening.</p>

<p>That went double for this dream. Not only did I awaken from sleep
  within the dream, but it was my actual apartment I lived in at the
  time, making it far more realistic that I had just simply awoken from
  the nap I had been taking. However, when I walked out into the living
  room, all of my roommates were home and were throwing a party
  (remember I'm thinking to myself that its 1pm and that they should be
  at school still). So, things were beginning to get confusing and my
  concept of reality was beginning to get shaky.</p>

<p>They told me to join them, but I couldn't understand what had happened
  since I went to sleep. So, I walked into the bathroom. I tried
  splashing water into my face and then proceeded to walk through the
  party and out the front door. When I opened and walked through the
  door, everything was different! I was transported into a completely
  different dream scene that was nothing like the outside of my
  apartment. I began to panic, thinking that I had gone to sleep and the
  entire world had somehow morphed. Soon, after beginning to realize the
  difference of this perceptible reality, I realized I must be dreaming,
  but had no idea to be certain except to see if I could wake himself
  up. Yet, how does one wake oneself up? It was my first lucid dream, I
  had no idea. After several run-ins with random dream characters, the
  dream began to dissipate and soon I awoke. So, I jumped out of bed and
  opened the front door to make sure I was actually awake finally! Then
  I relaxed and marveled at my first conscious dream experience."</p>

<p>After this dream, he looked up information on lucid dreaming online
  and was surprised to discover there was a whole community that
  practiced and perfected what he had just stumbled into fatefully.
  Documenting his dreams and practicing techniques to induce this
  experience at will became a top priority in his life. He could feel
  how purposeful this was for him and he immersed himself in it. He
  thought he marveled at his dreams in the past! Now, they became so
  much deeper and richer, delivering incredible insights and
  breathtaking experiences unlike anything he had ever experienced.</p>

<p>These experiences, inadvertently, caused a great spiritual awakening
  to occur within him. As his spiritual awakening continued to evolve
  and produce the fruits of awareness, energetic connection, and wisdom,
  so to did his experiences in the dream state continue to evolve and
  produce even deeper insights and incredibly fulfilling spiritual
  experiences of his true self (his soul) and of our Creator.</p>

<p>It has finally come to be that he has been able to understand how the
  dreaming and waking lives unify spiritually, energetically,
  biologically, and consciously. Showing the differing levels of truth
  as equals. That yes dreams appear strictly as biological functions on
  the physical level, yes - that is a truth. But, also that they move us
  emotionally, energetically, and mentally in a way of which cannot be
  measured or calculated by science. Science cannot actually give us or
  dictate the actual manifest experience that I will have in my
  consciousness - which is where the understanding of our spiritual
  nature comes forth. All truth is One, they just exist at differing
  levels of consciousness.</p>

<p>Two Worlds, One Consciousness: Unifying Lucid Dreaming and Conscious
  Living is Ernenwein's masterpiece of showing the connection between
  the two different aspects of our lives. To awaken people to the beauty
  and majesty of the world around them and the world within them.</p>
