<h1>What is this all about?</h1>
<p>For the last seven years I have been exploring lucid dreaming and have
had the most incredible conscious experiences within the dream world.
Gaining awareness of this realm of existence consciously, opened my
eyes to the world of which we all traverse. This invoked a huge
spiritual awakening within me and over the last 7-8 years, I have
steadily taken the steps to recreate my life in light of the highest
reflection of my Self.</p>

<p>Two Worlds, One Consciousness takes all the wisdom I have gained
through my experiences in the lucid state, all my understanding of the
waking realm, and combines it all together to present you with a
unified look at consciousness, energy, the nature of existence and the
universe, the mind-body-soul connection, authentic spirituality, how
God fits in, and how the waking and dreaming states are complimentary
realities energetically.</p>

<p>This is a firsthand account of the dream state through the eyes of
someone is able to consciously engage the dream versus being a
prisoner to the dream script. This is not information gathered from
patients of a psychologist, it is a personal chronicle of what it is
like to obtain a conscious experience outside of the physical body and
physical existence - and that's where the real magic, of what this
implies, really occurs!</p>