<h1>Two Worlds One Consciousness</h1>
<%= image_tag "book.jpg"%>



<p><%= link_to "Order me in paperback from  Lulu.com", "https://www.lulu.com/commerce/index.php?fBuyProduct=16040956", :target => "_blank"%></p>

<p><%= link_to "or buy me as a pdf", %>
