<h1>Two Worlds One Consciousness</h1>
<%= image_tag "book.jpg"%>



<p><%= link_to "Order me in paperback from  Lulu.com", "https://www.lulu.com/commerce/index.php?fBuyProduct=16040956", :target => "_blank"%></p>
<p><%= link_to "Request me to be translated for kindle", "http://www.amazon.com/gp/digital/fiona/detail/request-kindle-edition/ref=dtp_dp_su_1257823272?ie=UTF8&a=1257823272", :target => "blank"%></p>
<p><%= link_to "Or buy me as a pdf", %>
