<div id="footer">
	<p>
		Copyright &copy; 2011 SquidMonkey.net All Rights Reserved. Designed by <%= link_to "SquidMonkey.net", 'http://www.squidmonkey.net'%>.
	</p>
	<p id="links">
		<a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
	</p>
</div>